.button {
    
    cursor: pointer;
    
    height: 56px;
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(249, 249, 249, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.button img {
    padding-right: 15px;
}

.text {font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;

    color: var(--color-font);
}
