.button {
    cursor: pointer;
    height: 50px;
    min-width: 100px;
    width: 190px;

    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-primary);
}

.text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;

    color: var(--color-black);
}
